.color1 {
  color: black;
  font-weight: normal;
  background-color: yellowgreen;
}
.color2 {
  color: black;
  font-weight: normal;
  background-color: skyblue;
}
.color3 {
  color: black;
  font-weight: normal;
  background-color: maroon;
}
.color4 {
  color: black;
  font-weight: normal;
  background-color: maroon;
}
.color5 {
  color: black;
  font-weight: normal;
  background-color: yellow;
}

.color6 {
  color: black;
  font-weight: normal;
  background-color: orange;
}
.color7 {
  color: black;
  font-weight: normal;
  background-color: gold;
  font-style: italic;
}
.color8 {
  color: black;
  font-weight: normal;
  background-color: yellowgreen;
  font-style: italic;
}
